.pageHeader {
    text-align: center;
}

body {
    font-family: 'Itim', sans-serif;
    background: #D64550;
    background: linear-gradient(90deg, rgba(214, 69, 80, 1) 0%, rgba(234, 158, 141, 1) 33%, rgba(255, 255, 255, 1) 50%, rgba(212, 249, 253, 1) 67%, rgba(89, 200, 227, 1) 100%);
}

@font-face {
    font-family: 'Itim';
    src: url("../media/fonts/Itim-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}